.colorbase{background-color:#111111;color:#FFFFFF;}
.colordark{background-color:#333333;color:#FFFFFF;}
.colorbackground{background-color:#333333; color:#FFFFFF;}
.colorsecondary{background-color:#444444;color:#FFFFFF;}
#scoretable tr td span.head{color:#999999;}