<!DOCTYPE html>
<html>
<head>
	<title>Arch Wallpaper Generator</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/rh.js"></script>
</head>
<body>
	<div class="view" :style="view">
		<svg :style="logo" class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427 427">
		 <path id="Selection" d="m222 19s13.6 32 13.6 32 37.66 83 37.66 83 34.48 68 34.48 68l30.57 59 24 45s13.69 27 13.69 27l-36-16-16-4c14.51 6.29 35.48 21.39 48 31.4 4.36 3.49 15.57 12.05 18.67 15.64 3.4 3.93 11.08 19.35 14.19 24.96l22.14 42c-6.12-1.79-11.45-5.65-17-8.7l-33-17.99c-21.22-11.48-54.11-26.01-77-33.64-12.07-4.03-27.48-8.98-40-10.67l2-22v-10c-0.03-18.4-7.28-43.91-19.3-58-3.37-3.96-8.28-8.8-12.7-11.53-15.26-9.42-31.4-4.11-42.83 8.53-13.54 14.99-20.93 39.98-21.17 60-0.1 9.02 0.18 14.04 1.48 23 0.49 2.4 1.88 7.17 0 9.02-1.38 1.17-14.74 3.9-17.48 4.61l-38 12.42c-19.64 7.34-50.71 21.67-69 31.81l-24 13.14c-5.51 3.15-13.19 8.16-19 10l20.14-38s37.55-68 37.55-68l60.05-112 25.01-49 12.25-25 14 9.66c8.6 5.84 30.5 18.63 40 21.34l-35-30c-2.59-2.58-10.69-10.03-11.65-13-1-3.08 1.56-7.27 2.89-10l9.9-22s27.44-66 27.44-66l10.42-25 9 19z"/>
		</svg>
	<p class="text" :style="text">{{{content}}}</p>
	<style type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
	.view {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
		flex-shrink: 0;
	}
	.view .text {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
	</style>
</div>
<div class="settings">
	<div>
		<span>Width</span>
		<input type="text" v-model="view.width"></input>
	</div>
	<div>
		<span>Height</span>
		<input type="text" v-model="view.height"></input>
	</div>
	<div>
		<span>Background</span>
		<input type="text" v-model="view.background"></input>
	</div>
	<div>
		<span>Logo size</span>
		<input type="text" v-model="logo.height"></input>
	</div>
	<div>
		<span>Logo color</span>
		<input type="text" v-model="logo.fill"></input>
	</div>
	<div>
		<span>Font size</span>
		<input type="text" v-model="text.fontSize"></input>
	</div>
	<div>
		<span>Font family</span>
		<input type="text" v-model="text.fontFamily"></input>
	</div>
	<div>
		<span>Text color</span>
		<input type="text" v-model="text.color"></input>
	</div>
	<div>
		<span>Text</span>
		<textarea v-model="content"></textarea>
	</div>
	<div class="generate">
		<a @click="generate" href="#">
			GENERATE
		</a>
		<p>(you need to add .png to the filename)</p>
	</div>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>