*
{
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#dterm
{
  background: #000;
  color: #fff;
  overflow-y: scroll;
  word-break: break-all;
}
.color-red
{
  color: red;
}
.color-dodge-blue
{
  color: #1E90FF;
}
.bg-yellow
{
  background: yellow;
}
.flash
{
  animation-name: flash;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes flash{
    0%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 1;
    }
}
