* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: 0 0;
	text-decoration:none
}
body {
	overflow: hidden;
	font-family: Roboto, sans-serif;
}
.view, .settings {
	position: absolute;
}
.view {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.settings {
	top: 0;
	padding: 8px;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	background: rgba(0, 0 ,0, .3);
}
.settings span {
	width: 128px;
	display: inline-block;
	vertical-align: top;
}
.settings input[type=text], .settings textarea {
	color: inherit;
	font-size: 12px;
	line-height: inherit;
	border-bottom: 1px solid #777;
	transition: all .25s ease-out;
}
.settings input[type=text]:focus, .settings textarea:focus {
	border-bottom: 2px solid #fff;
}
.settings .generate {
	text-align:center;
	margin: 16px 0;
}
.settings .generate a {
	height: 32px;
	margin: 0 0 8px;
	padding: 4px 20px;
	border-radius: 2px;
	color: #000;
	background: #fff;
}
.settings .generate p {
	font-size: 12px;
	line-height: 18px;
}