@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(../scripts/highlight/styles/material.css);
body
{
  background: #fff;
  padding: 16px;
}
.back
{
  color: #444;
  position: absolute;
  font-size: 24px;
  top: 16px;
  left: 16px;
  z-index: 1000;
}
article
{
  max-width: 900px;
  margin: 20vh auto 0 auto;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
article .text
{
  padding: 32px;
  width: 700px;
  margin: auto;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}
article .cover
{
  height: 300px;
  position: relative;
}
article .cover img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
article .cover p
{
  padding: 24px;
  font-size: 34px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}
article .meta
{
  height: 76px;
  padding: 16px;
}
article .meta > *
{
  display: inline-block;
  vertical-align: middle;
}
article .meta div
{
  padding: 0 16px;
}
article .meta p
{
  font-size: 14px;
  color: #616161;
  font-weight: 400;
}
article .meta .commands
{
  float: right;
}
article .meta img
{
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.markdown b
{
  font-weight: 500;
}
.markdown ul, .markdown ol
{
  margin-left: 32px;
}
.markdown p, .markdown li
{
  line-height: 28px;
  margin: 16px auto;
}
.markdown hgroup
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.markdown h1
{
  font-size: 56px;
  line-height: 56px;
}
.markdown h2
{
  font-size: 34px;
  line-height: 40px;
}
.markdown h3
{
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 720px)
{
  article
  {
    margin-top: 0;
    width: 100%;
  }
  article .text
  {
    padding: 16px;
    width: 100%;
  }
  body
  {
      padding: 0;
  }

  .back
  {
    color: #fff;
  }
}
