@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(icons/css/materialdesignicons.css);
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: top;
  cursor: default;
  text-transform: none;
  outline: none;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
body
{
  font-family: 'Roboto', sans-serif;
  font-size: 0;

  color: #222;
  background: #eeedee;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  text-align: center;
}
body > *
{
  font-size: initial;
  text-align: initial;
}
pre
{
  padding: 16px 8px;
  white-space: pre-wrap;
  background: #f5f5f5;
}
a
{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.ink
{
  display: block;
  position: absolute;

  border-radius: 50%;
  animation: ripple 0.25s ease-out;
  transform: scale(0);

  background: #000;
  pointer-events: none;
}
@keyframes ripple
{
  100%
  {
    opacity: 0;
    transform: scale(1);
  }
}
