nav
{
  height: 100px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1000;

  padding: 0 48px;

  background: #fff;

  font-size: 15px;

  transition: all 0.25s ease-in-out;
}
nav + *
{
  margin-top: 100px;
}
nav > *
{
  height: 100px;
  line-height: 100px;
  padding: 0 20px;

  display: inline-block;
  float: right;

  position: relative;
  overflow: hidden;

  cursor: pointer;
}
nav .logo
{
  width: 50px;

  float: left;

  background: url(../assets/logoblack.png) no-repeat center center / contain;
}
header
{
  background: url(../assets/bg.jpg) no-repeat center center / cover;
  height: 100vh;
  width: 100%;
}
main
{
  max-width: 756px;
  display: inline-block;

  padding: 32px 32px;
}
main > *
{
  vertical-align: top;

  font-size: initial;
}
main article
{
  width: 100%;
  display: inline-block;

  margin: 32px 0;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
}
main article .cover
{
  width: 100%;
  max-height: 25vw;
  object-fit: cover;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  cursor: pointer;

  transition: all 0.25s ease 0s;
}
main article .cover:hover
{
  transform: scale(1.1, 1.1);
}
main article .text
{
  padding: 30px;
  line-height: 20px;
  font-size: 13px;
}
main article .text *
{
  display: block;
}
main article .title
{
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
}
main article .bar
{
  height: 72px;
  line-height: 56px;
  padding: 8px 32px;

  color: #616161;
  font-size: 14px;
  font-weight: 400;

  border-top: 1px solid #eee;
}
main article .bar .author
{
  height: 40px;
  width: 40px;
  margin: 8px 0;
  border-radius: 50%;
}
main article .bar .name
{
  padding: 0 0 0 8px;
}
main article .bar a
{
  color: #2196f3;
}
.more
{
  width: 100%;
  text-align: center;
}
.more > .mdi
{
  font-size: 32px;
  color: #666;
}
@media (max-width: 1024px)
{
  aside
  {
    display: none;
  }
  main
  {
    width: 100%;
    padding: 16px;
  }
  main article
  {
    width: 100%;
    margin: 0 0 32px 0;
  }
  nav
  {
    padding: 0;
    position: relative;
  }
  nav > *
  {
    width: 100% !important;
    display: block;
    background: inherit;
    text-align: center;
    border-bottom: 1px solid #eee;
    clear: both;
  }
  nav + *
  {
    margin-top: 0;
  }
}
