<!DOCTYPE html>
<html>
<head>
	<title>dBlog</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:400,500,300'>
</head>
<body>
	<dialog class="view" v-if="viewing">
		<div>
			<a class="icon back" v-on:click="viewing = false">arrow_back</a>
			<article>
				<p class="title">
				<div class="text markdown">
					{{{article.content}}}
				</div>
			</article>
		</div>
	</dialog>
	<template v-if="!viewing">
		<nav>
			<a href="/" class="logo"></a>
		</nav>
		<main>
			<article v-for="article in collection" v-if="$index < limit">
				<img v-bind:src="'data/' + article.id + '/' + article.image" v-on:click="view(article)">
				<div class="text">
					<a class="title" v-on:click="view(article)">{{{ article.title }}}</a>
					<p class="date">{{{ article.date }}}</p>
					<p>
						{{{ article.preview }}}
					</p>
				</div>
				<div class="buttons">
					<a class="icon" v-on:mousedown="ripple" v-on:click="view(article)">arrow_forward</a>
				</div>
			</article>
			<div class="more">
				<a class="icon" v-on:click="increase">expand_more</a>
		</main>
	<aside>
		<section>
			<article v-for="article in collection" v-if="$index < 5">
				<img v-bind:src="'data/' + article.id + '/' + article.image" v-on:click="view(article)">
				<div class="text">
					<a class="title" v-on:click="view(article)">{{{ article.title }}}</a>
					<p class="date">{{{ article.date }}}</p>
				</div>
			</article>
		</section>
	</aside>
	</template>
	<script src="scripts/superagent.js" type="text/javascript"></script>
	<script src="scripts/marked.js" type="text/javascript"></script>
	<script src="scripts/vue.js" type="text/javascript"></script>
	<script src="scripts/ui.js" type="text/javascript"></script>
	<script src="scripts/blog.js" type="text/javascript"></script>
</body>
</html>
